.stackpane{
    -fx-background-color: linear-gradient(to right, #093969 30%, #14468B 73%, #2E59CA 99%);
}

.root-container{
    -fx-background-color: rgb(117, 113, 113);
}

.aside{
    -fx-background-color: #6a93bd;
}

.main{
    -fx-background-color: #ffffff;
}

.button-active{
    -fx-background-color:#fefefe;
    -fx-font-size: 14px;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -fx-font-weight: 800;
}

.button-desactive{
    -fx-background-color:#e2eefe;
    -fx-font-size: 13px;
    -fx-border-color: #e2eefe;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-text-fill: rgb(1, 1, 1);
    -fx-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -fx-font-weight: 800;
}