@font-face {
    font-family: ubuntu;
    src: url(./fonts/Ubuntu/Ubuntu-Light.ttf);
    font-weight: 300;
}

.leftAside{
    -fx-background-image: url("/interfaceImages/splashScreenimage.png");
    -fx-background-position: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 10, 0);
}

.rightAside{
   -fx-background-image: url(../interfaceImages/fondo.jpeg);
}

.titleRegister{
    -fx-text-fill: #fff;
    -fx-font-size: 25px;
    -fx-font-family: ubuntu,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -fx-font-weight: 700;
}

.fields{
    -fx-background-color: #020202; 
    -fx-background-radius: 10px;
    -fx-border-color: #3420205d; 
    -fx-border-width: 8px; 
    -fx-border-radius: 20px; 
    -fx-font-size: 20px;
    -fx-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    -fx-text-fill: white;
    -fx-padding: 10px; 
}