.grid{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-style:solid;
    -fx-padding: 20px 30px;
    -fx-border-radius: 6px;
}

.inputForm{
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-font-family: fantasy;
    -fx-border-radius: 6px;
    -fx-border-color: #575757;
    -fx-border-width: 3px;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.inputForm:focused{
    -fx-border-color: rgb(13, 53, 210);
}

.button{
    -fx-background-color: #0077ff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.3, 1, 1);
}

.button:hover{
    -fx-background-color:#4a9fff;
}
